*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
}

header{
background: url(Background.jpg);
background-size:cover;
background-position: center;
height: auto;
width: 100%;
}

.container{
    background-color: rgba(0, 0, 0, 0.144);
    z-index: -1;
}

.navigasi{
 display: flex;
    justify-content: space-between; 
    height: 50px;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.5);
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15;
    font: size 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    justify-content: space-between;
    margin-left: 30px;
}
.logo1{
    font-family: fantasy;
   padding-left: 5px;
    font-size: 40px;
    color: aliceblue;
}
.logo2{
    font-family: fantasy;
    font-size: 25px;
    color: aliceblue;
}

ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-right: 30px;
}

.menu>li>a{
    text-decoration: none;
    font-size:18px;
    color: aliceblue;
    margin-right: 10px;
    padding: 5px 0;
    position: relative;
    font-weight: bold;
}
.menu li{
    display: inline-block;
    margin: 0 15px;
}
.menu li a::after{
    content:'' ;
    background: #10daf5;
    height: 4px;
    width: 0;
    position: absolute;
    bottom: -1px;
    left: 0;
    transition: 0.5s;
}
.menu>li>a:hover:after{
width: 100%;
}
.thumbnail{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    width: auto;
    color: aliceblue;
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0.26);
    background-position: cover;
    margin: 0 auto;
}
